{% assign project_categories = site.projects | map: "category" | uniq | sort %}
<ul>
    {% for category in project_categories %}
    <li>
        <a href="{{ site.baseurl }}/project/categories/{{ category | slugify }}">{{ category }}</a>

        <ul>
            {% for project in site.projects %}
            {% if project.category == category %}
            <li>
                <a href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
