---
layout: default
---

<div class="col-lg-12">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="row">
        {% assign all_projects = site.projects %}
        {% for project in all_projects %}
        <div class="card blog-post">
          <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ project.thumbnail }}" alt="{{ project.title }}">
          <div class="card-body center">
            <h4 class="card-title">{{ project.title }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ project.date | date: "%b %-d, %Y" }}</h6>
            <p class="card-text">{{ project.summary }}</p>
            <a href="{{ project.url | prepend: site.baseurl }}" data-disqus-identifier="{{ project.url }}" class="btn btn-dark btn-lg">Read</a>
            <p>{{ project.url | prepend: site.baseurl }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {%- include project_sidebar.html -%}
  </div>
</div>
