---
layout: default
---

<div class="col-lg-12">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <ul>
        <div class="row">
          {% assign all_projects = site.projects %}
          {% assign total_projects = all_projects | size %}
          {% assign projects_per_page = 4 %}
          {% assign total_pages = total_projects | divided_by: projects_per_page | ceil %}
          {% assign current_page = page.url | split: '/' | last %}
          {% if current_page == "" %}
          {% assign current_page = 1 %}
          {% else %}
          {% assign current_page = current_page | plus: 0 %}
          {% endif %}

          {% assign start_index = projects_per_page | times: current_page | minus: projects_per_page %}
          {% assign end_index = start_index | plus: projects_per_page %}

          {% for project in all_projects offset: start_index limit: projects_per_page %}
          <div class="card project-post">
            <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ project.thumbnail }}" alt="{{ project.title }}">
            <div class="card-body center">
              <h4 class="card-title">{{ project.title }}</h4>

              <h6 class="card-subtitle mb-2 text-muted">{{ project.date | date: "%b %-d, %Y" }}</h6>
              <p class="card-text">{{ project.summary }} </p>

              <a href="{{ project.url | prepend: site.baseurl }}" data-disqus-identifier="{{ project.url }}" class="btn btn-dark btn-lg">Read</a>
              <span class="disqus-comment-count" data-disqus-identifier="{{ project.url }}"></span>

            </div>
          </div>
          {% endfor %}
        </div>
      </ul>

      <div class="row center">
        <!-- Pagination links -->
        <ul class="pagination pagination-sm">
          {% if current_page > 1 %}
          <li class="pagination-link"><a href="{{ site.baseurl }}/project/page/{{ current_page | minus: 1 }}/">&laquo;</a></li>
          {% endif %}

          <li class="pagination-link"><a href="/project">First</a></li>

          {% for page in (1..total_pages) %}
          <li class="pagination-link{% if page == current_page %} active{% endif %}">
            <a href="{{ site.baseurl }}/project/page/{{ page }}/">{{ page }}</a>
          </li>
          {% endfor %}

          {% if current_page < total_pages %}
          <li class="pagination-link"><a href="{{ site.baseurl }}/project/page/{{ current_page | plus: 1 }}/">Next &raquo;</a></li>
          {% endif %}
        </ul>
      </div>

    </div>
    <!-- 사이드바를 단 한 번만 포함 -->
    <div class="col-lg-4">
      {%- include project_sidebar.html -%}
    </div>
  </div>
</div>
